

<!DOCTYPE html>
<html>
	<head>
     <meta charset="UTF-8"/>
          <title>form_atualizar_pessoa</title>
   	</head>
	<body> 
		<form action ="/exibir_mensagem">
			<div>
        		<label for="name">Nome:</label>
        		<input type="text" name="nome" value="" placeholder="Manoel Carlos Farias"/>
    		</div>
    		<div>
        		<label for="mail">E-mail:</label>
        		<input type="email" id="mail" />
    		</div>
    		<div class="button">
        		<button type="submit">Enviar</button>
    		</div>
		</form>
	</body>
</html>
