<!DOCTYPE html>
<html>
	<head>
     <meta charset="UTF-8"/>
          <title>form_login</title>
   	</head>
	<body> 
		<form action = "/login">
	 		<div>
        		<label for="name">Nome:</label>
        		<input type="text" id="name" name ="login" />
    		</div>
    		<div>
        		<label for="key">Senha:</label>
        		<input type="password" id="password" name = "senha" />
    		</div>
    		<div class="button">
        		<button type="submit">Enviar</button>
    		</div>
		</form>
	</body>
</html>
