<!DOCTYPE html>
 <html>
	<head>
    	<meta charset="UTF-8"/>
    	<title>listar-pessoa</title>
 	</head>
 	<body>
		 <h1>Pessoas Cadastradas:</h1>
		{% for p in geral %}
		 	{{p.nome}}
		 	{{p.email}} 
		 	<br> 

        				<a href="/form_atualizar_pessoa?nome={{p.nome}}">Atualizar pessoa</a>
						<a href="/excluir_pessoa?nome={{p.nome}}">Excluir pessoa</a>


			<br>				 
		{%endfor%}
			{% if session ["user"] %}
			<h2>Para incluir nova pessoa 
    			<div class="button">
        		<a href="/incluir_pessoa"><button>Incluir Pessoa</button></a>
			</h2>
			{%endif%}
			<h2>Login 
    			<div class="button">
        		<a href="/form_login"><button>login</button></a>
			</h2>
			<h2>Logout 
    			<div class="button">
        		<a href="/logout"><button>logout</button></a>
        	</h2>
 	</body>
 </html>